body {
    text-align: center;
    margin: 0px;
    font-family: "Comic Sans MS";
}

.about {
    background-color: rgb(42, 81, 190);
    padding: 0px;
}

.projects {
    background-color: rgb(158, 50, 149);
    padding: 10px;
}


